body{
    font-family: "Montserrat-bold";
}

#title{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    font-weight: bold;
}


h1{
    font-family: 'Montserrat-black';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}   

.container-fluid{
    padding: 5% 13% 9%;
}

/* #navigation bar */
.navbar-nav {
    margin-left: auto;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;  
}

.fa-music{
    margin-left: 10px;
}
.navbar{
    padding: 0px 0px 3rem;
}
.nav-link{
   
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
.nav-item{
    color: black;
    padding: 0px 18px;
}

/* #download buttons */
.download-button{
    margin: 5% 3% 5% 0%;
}

/* #features */
#features{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

#features > h1{
    color: #30475E;
    font-family: 'Dongle', sans-serif;
    font-size: 5rem;
}
.icon{
    width: 150px;
    margin-bottom: 1rem;
}
.image{
    padding: 5%;
}
.image-title{
    color: #30475E;
    text-align: center;
    font-family: 'Montserrat-bold';
    font-size: 20px;
}

.singers{
    color: #30475E;
}

/* #pricing */
#pricing{
    background-color: #30475E;
    text-align: center;
    padding: 100px;
}

#pricing > h1{
    color: #fff;
}
#pricing > h5{
    color: #fff;
}
.pricing-column{
    padding: 20px;
}

/* <!-- Call to Action --> */
#cta{
    background-image: url(../img/cta.jpg);
    text-align: center;
    font-family: "Montserrat-black";
    padding: 6% 15%;
}
.cta-title{
    color: #30475E;
    font-size: 5rem;
    font-family: 'Dongle', sans-serif;

}
#footer{
    background-color: #30475E;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 3% 15%;
}

.social-icons{
    margin: 10px 20px;
}
